{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MECIP{% if site_title %} - {{ site_title }}{% endif %}</title>
<link rel="icon" type="image/png" href="{% static 'global/img/mecip-icon-m.png' %}">
<link rel="stylesheet" href="{% static 'global/css/style.css' %}?v=questionnaire-responsive-20260902">
<link rel="stylesheet" href="{% static 'vendor/flaticon-uicons/4.0.0/css/uicons-solid-rounded.css' %}">
<link rel="stylesheet" href="{% static 'vendor/tom-select/2.6.2/tom-select.bootstrap5.min.css' %}">
