{% extends "global/base.html" %}

{% block content %}
{% if page_obj %}
    <div class="contact-actions" style="margin-bottom: 1rem;">
        <button class="btn" onclick="window.location='{% url 'mecip:dashboard' %}'">Ver Dashboard</button>
    </div>
    <div class="responsive_table">
        <table class="contacts-table">
            <caption class="table-caption">
                Relatórios
            </caption>
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Nome Curso</th>
                    <th class="table-header">Campus</th>
                    <th class="table-header">Cidade</th>
                    <th class="table-header">Equipe Atribuída</th>
                    <th class="table-header">Usuário Atribuído</th>
                    <th class="table-header">Status</th>
                </tr>
            </thead>

            <tbody>
                {% for report in page_obj  %}
                    <tr class="table-row">
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.course.type_course }}
                            </a>
                        </td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.campus.campus_name }}
                            </a>
                        </td>                      
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.campus.city }}
                            </a>
                        </td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.assigned_team.team_name}}
                            </a>
                        </td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.assigned_user.get_full_name}}
                            </a>
                        </td>
                        <td class="table-cel">
                            <a class="table-link" href="{% url "mecip:report" report.id %}">
                                {{ report.status }}
                            </a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% else %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            Nenhum Relatorio encontrado.
        </h1>
    </div>
{% endif %}
{% endblock content %}
    