{% extends "global/base.html" %}

{% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            Relatorio: {{ report.course.type_course }}
        </h1>

        <div class="responsive_table">
            <table class="contacts-table">
                <tbody>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Nome Curso</strong></td>
                        <td class="table-cel">{{ report.course.type_course }}</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Campus</strong></td>
                        <td class="table-cel">{{ report.campus.campus_name }}</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Cidade</strong></td>
                        <td class="table-cel">{{ report.campus.city }}</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Equipe Atribuída</strong></td>
                        <td class="table-cel">
                            {% if report.assigned_team %}
                                {{ report.assigned_team.team_name }}
                            {% else %}
                                Nenhuma
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Usuário Atribuído</strong></td>
                        <td class="table-cel">
                            {% if report.assigned_user %}
                                {{ report.assigned_user.get_full_name }}
                            {% else %}
                                Nenhum
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Prazo</strong></td>
                        <td class="table-cel">{{ report.due_date|default:"---" }}</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Status</strong></td>
                        <td class="table-cel">{{ report.status }}</td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Questionário</strong></td>
                        <td class="table-cel">
                            {% if report.questionnaire %}
                                {{ report.questionnaire.name }}
                            {% else %}
                                Nenhum questionario associado
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="table-row">
                        <td class="table-cel"><strong>Observações</strong></td>
                        <td class="table-cel">{{ report.notes|default:"---" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="contact-links">
            {% if report.status == "Aprovado" %}
                <button class="btn" onclick="window.location='{% url 'mecip:report_pdf_download' report_id=report.id %}'">
                    Baixar PDF
                </button>
            {% endif %}
            {% if can_assign %}
                <button class="btn btn-assign" onclick="window.location='{% url 'mecip:assign_report' report_id=report.id %}'">Atribuir a mim</button>
            {% endif %}

            {% if report.questionnaire and user.is_authenticated%}
                {% if user.is_superuser %}
                    <button class="btn" onclick="window.location='{% url 'mecip:view_questionnaire' report_id=report.id %}'">Ver Questionário</button>
                {% elif report.assigned_team and user in report.assigned_team.users.all %}
                    <button class="btn" onclick="window.location='{% url 'mecip:view_questionnaire' report_id=report.id %}'">Ver Questionário</button>
                {% endif %}                
            {% endif %}
            <button class="btn btn-back" onclick="window.location='{% url 'mecip:index_report' %}'">Voltar</button>
        </div>


        {% if user.is_superuser %}
            <div class="contact-links">
                <button class="btn" onclick="window.location='{% url 'mecip:update_report' report_id=report.id %}'">Editar</button>
                <button class="btn" onclick="window.location='{% url 'mecip:campus' report.campus.id %}'">Campus</button>
                <button class="btn" onclick="window.location='{% url 'mecip:course' report.course.id  %}'">Curso</button>
            </div>
        {% endif %}

    </div>
{% endblock %}
