:root {
    --spacing: 1.5rem;
    --link-green-color: #195128;
    --link-light-color: rgb(230, 230, 245);
    --clr-white: rgb(245, 245, 255);
    --clr-grenn: #195128;
    --clr-black-text: rgb(0, 0, 0);
    --clr-light-gray: rgb(230, 230, 245);
    --clr-dark-shadow-5: rgba(0, 0, 10, 5%);
    --clr-dark-shadow-10: rgba(0, 0, 10, 10%);
    --clr-dark-shadow-20: rgba(0, 0, 10, 20%);
    --clr-light-shadow-5: rgba(200, 200, 255, 5%);
    --clr-light-shadow-10: rgba(200, 200, 255, 10%);
    --clr-light-shadow-20: rgba(200, 200, 255, 20%);
    --main-page-width: 120rem;
    --table-min-width: 60rem;
    --biggest-font-size: 5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 3.2rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --smallest-font-size: 1.2rem;
    --transition-fast: 300ms;
    --transition-medium: 600ms;
    --transition-slow: 1s;
    --default-border-radius: 4px;
    --default-width-btn: 10rem;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: var(--small-font-size);
    color: var(--clr-black-text);
    -webkit-font-smoothing: antialiased;
    background: var(--clr-light-gray);
  }

  a {
    color: var(--clr-grenn);
  }
  
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  
  .header {
    background: var(--clr-grenn);
    padding: var(--spacing);
    box-shadow: 0 5px 10px 2px var(--clr-dark-shadow-20);
    z-index: 1;
    position: relative;
  }
  
  .header-heading {
    font-size: var(--biggest-font-size);
    text-align: center;
  }
  
  .header-link {
    color: var(--link-light-color);
    text-decoration: none;
    transition: filter var(--transition-fast) ease-in-out;
  }
  
  .header-link:hover {
    filter: brightness(70%);
  }
  
  .menu {
    margin: var(--spacing);
  }
  
  .menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  
  .menu-link {
    display: block;
    padding: var(--spacing);
    color: var(--link-light-color); 
    text-decoration: none;
    transition: background-color var(--transition-fast) ease-in-out;
    border-radius: var(--default-border-radius);
  }
  
  .menu-link:hover {
    background: var(--clr-light-shadow-10);
  }
  
  .content {
    max-width: var(--main-page-width);
    margin: calc(var(--spacing) * 2) auto;
    padding: var(--spacing);
    background: var(--clr-white);
    box-shadow: 2px 2px 5px var(--clr-dark-shadow-20);
    border-radius: var(--default-border-radius);
  }
  
  .responsive-table {
    width: 100%;
    overflow-x: auto;
  }
  
  .contacts-table {
    width: 100%;
    min-width: var(--table-min-width);
    border-collapse: collapse;
  }
  
  .table-caption {
    font-size: var(--medium-font-size);
    font-weight: bold;
    padding: var(--spacing);
  }
  
  .table-row {
    text-align: left;
    text-overflow: ellipsis;
    transition: background-color var(--transition-fast) ease-in-out;
  }
  
  .table-row:nth-of-type(2n) {
    background: var(--clr-dark-shadow-5);
  }
  
  .table-row:not(.table-row-header):hover {
    background: var(--clr-dark-shadow-10);
  }
  
  .table-row-header {
    background: var(--clr-light-gray);
    color: var(--clr-black-text)
  }
  
  .table-cel,
  .table-header {
    padding: var(--spacing);
  }
  
  .table-link {
    color: var(--link-green-color);
    transition: color var(--transition-fast) ease-in-out;
    text-decoration: none;
  }
  
  .table-link:hover {
    color: var(--clr-black-text)
  }
  
  @media (min-width: 600px) {
    .single-contact {
      max-width: 80%;
      margin: calc(var(--spacing) * 2) auto;
    }
  }
  
  .single-contact h1 {
    margin: 1rem 0;
  }
  
  .single-contact p {
    margin: 1rem 0;
  }
  
  .pagination {
    margin-top: var(--spacing);
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing) * 0.8);
    font-size: var(--small-font-size);
  }
  
  .pagination .step-links {
    display: flex;
    gap: calc(var(--spacing) * 0.8);
  }
  
  .pagination .step-links a {
    color: var(--link-green-color);
    transition: color var(--transition-fast) ease-in-out;
    text-decoration: none;
    display: block;
  }
  
  .search {
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    font-size: var(--medium-font-size);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 32rem;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--link-light-color);
  }
  
  .search-input:focus {
    box-shadow: 0 0 15px var(--link-light-color);
  }
  
  .message {
    max-width: 600px;
    margin: var(--spacing) auto;
    margin-top: calc(var(--spacing) * 2);
    padding: var(--spacing);
    text-align: center;
    border-radius: var(--default-border-radius);
    font-size: var(--smaller-font-size);
  }
  
  .message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 90%);
  }
  
  .message.error {
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 90%);
  }
  
  .message.warning {
    background: rgba(255, 255, 0, 0.3);
    border: 1px solid rgba(255, 255, 0, 90%);
  }

  .message.info{
    background: rgba(0,0,255, 0.3);
    border: 1px solid rgba(0,0,255, 0.3);
  }
  
  .form-wrapper {
    max-width: 60rem;
    margin: var(--spacing) auto;
  }
  
  .form-content {
    margin: var(--spacing) 0;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing);
  }
  .errorlist {
    list-style: none;
    font-size: var(--smaller-font-size);
    color: tomato;
  }
  .errorlist.nonfield {
    color: inherit;
  }
  
  .form-group p {
    margin: 1em 0;
  }
  
  .form-group .help-text,
  .form-group .help-text ~ ul {
    margin: 0;
    font-size: var(--smallest-font-size);
    list-style: none;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    padding: 1rem;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--link-green-color);
  }
  
  .form-group input:focus,
  .form-group textarea:focus,
  .form-group select:focus {
    outline: none;
    box-shadow: 0 0 5px var(--link-green-color);
  }
  
  .form-group label {
    font-size: var(--smaller-font-size);
  }
  
  .btn {
    background-color: var(--link-green-color);
    color: var(--clr-white);
    font-weight: bold;
    border: none;
    width: var(--default-width-btn);
    padding: 1rem 2rem;
    border-radius: var(--default-border-radius);
    align-items: center;
    cursor: pointer;
    transition: filter var(--transition-fast) ease-in-out;
  }

  .contact-links {
    margin-block: calc(var(--small-font-size) * 2);
    display: flex;
    align-items: center;
    gap: 0 var(--spacing);
  }
  
  .btn-link {
    font-size: var(--small-font-size);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
    display: block;
    line-height: var(--small-font-size);
  }
  
  .btn-delete {
    background: tomato;
  }
  
  .btn:hover {
    filter: brightness(90%);
  }
  
  .btn:focus,
  .btn:active {
    filter: brightness(80%);
    box-shadow: 0 0 5px var(--link-green-color);
  }

  .mecip-text {
    font-family: open_sansextrabold, 'Open Sans', Arial, Helvetica, sans-serif; /* Define a fonte do texto */
    font-size: 2.75em; /* Define o tamanho da fonte */
    font-weight: 800; /* Define o peso da fonte */
    color: var(--link-light-color); /* Define a cor do texto */
    background-color: #195128; /* Define a cor de fundo */
    text-align: center; /* Alinha o texto ao centro */
    line-height: 0.8em; /* Define a altura da linha */
    letter-spacing: 2px; /* Define o espaçamento entre as letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao texto */
    padding: 10px; /* Adiciona espaço interno ao redor do texto */
    margin: 20px; /* Adiciona espaço externo ao redor do texto */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do texto */
    border-radius: 5px; /* Define cantos arredondados para a borda */
}

.style-login {
  max-width: 30rem;
  margin: var(--spacing) auto;  
}
